/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
    font-family: AlususMono;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #00f;
    font-family: AlususMono;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #a31515;
    font-family: AlususMono;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
    font-family: AlususMono;
}

.hljs-doctag {
    color: #808080;
    font-family: AlususMono;
}

.hljs-attr {
    color: #f00;
    font-family: AlususMono;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
    font-family: AlususMono;
}

.hljs-emphasis {
    font-style: italic;
    font-family: AlususMono;
}

.hljs-strong {
    font-weight: bold;
    font-family: AlususMono;
}